<html>
    <head>
    <title>
        Phone Book
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    
    </head>
    <body>
       <div class="ui fixed inverted menu" >
           <div class="ui container">
               <div class="header item"><i class="code icon" style="font-size:2em;"></i> Blog site</div>
           <a href="/" class="item">Home</a>
           <a href="/blog/new" class="item">New Post</a>
           </div>
       </div>
    </body>
    <!-- style="font-size: 2em;" -->
</html>